body, div, ul, li, a {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    left:0;
    right: 0;
}
div {
    position: relative;
    width:600px;
    left:-300px;
    margin-left: 50%;
    margin-top:40px;
    margin-bottom: 60px;
}
ul {
    margin-left: 0px;
    padding-left: 0px;
}
ul li {
    list-style-type: none;
    margin-left: 0px;
}
ul a {
    color:#0a5175;
    text-decoration: none;
    font-size: 20px;
}
ul p {
    padding-left: 20px;
    font-size: 18px;
    color:#222222;
}
.open {
    font-weight:bold;
}

