h1, h2 {
    color:#222222;
}
img {
    width:300px;
    border: 0px;
}
div {
    position: relative;
    width:600px;
    left:-300px;
    margin-left: 50%;
}
ul {
    margin-left: 0px;
    padding-left: 0px;
}
ul li {
    list-style-type: none;
    margin-left: 0px;
}
ul a {
    color:#0a5175;
    text-decoration: none;
    font-size: 20px;
}
ul p {
    padding-left: 20px;
    font-size: 18px;
    color:#222222;
}
hr {
    margin-left: 0px;
    width:300px;
    border-bottom: 0px;
}
span {
    font-size: 10px;
    color:#222222;
}
.open {
    font-weight:bold;
}