body, div, ul, li, a, svg {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    left:0;
    right: 0;
}
body {
    display: flex;
    justify-content: center;
}
div.main {
    display: inline-block;
    margin:40px 10px 40px 10px;
    width:600px;
}
ul li {
    list-style-type: none;
    font-size: 16px;
}
ul a {
    color:#0a5175;
    text-decoration: none;
    font-size: 20px;
}
ul.coin a {
    color:#333333;
    text-decoration: none;
    font-size: 16px;
}
ul.coin {
    margin-bottom: 20px;
}
ul p {
    padding-left: 20px;
    font-size: 18px;
    color:#222222;
}
.open {
    font-weight:bold;
}

.censure {
    display: inline-block;
    border: none;
    color: crimson;
    font-size: 9px;
    left:2px;
    position: relative;  
}
