
body {
	margin: 0;
	padding: 0;
	top:0;
	left:0;
}

canvas {
	background-color: #ccc;
	max-width: 100%;
	width: 100%;
}

div#container {
	margin: 0;
	max-width: 100%;
	padding: 0;
}

video {
	background: #222;
	margin: 0;
	width: 100%;
}




