body {
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: none;
}

form {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: none;
}

div {
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: none;
}

img {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: none;
}

div.topline {
    overflow: hidden;
    position: relative;
    width: 600px;
    height: 7px;
}

div.toplinebox {
    overflow: hidden;
    position: relative;
    width: 100px;
    height: 7px;
    left: 280px;
}

div.topline1, div.topline2, div.topline3, div.topline4, div.topline5, div.topline6 {
    overflow: hidden;
    position: relative;
    height: 1px;
}

div.topline1 {
    width: 100px;
    background-color: #9bc0cf;
}

div.topline2 {
    width: 98px;
    background-color: #9bc0cf;
}

div.topline3 {
    width: 96px;
    background-color: #9bc0cf;
}

div.topline4, div.topline5, div.topline6 {
    width: 10px;
    background-color: #9bc0cf;
}

div.toplineend {
    overflow: hidden;
    position: relative;
    height: 1px;
}

.topDiv {
    font-size: 15px;
    overflow: hidden;
    padding: 0px;
    margin: 2px;
    width: 600px;
    height: 20px;
    background: #9bc0cf;
    border: solid 3px #9bc0cf;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

span.cred {
    color: Black;
    text-shadow: #6f5fa3 1px 1px 1px;
}

.mainDiv {
    overflow: hidden;
    padding: 0px;
    width: 600px;
    height: 625px;
    background: #9bc0cf;
    border: solid 3px #9bc0cf;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

div.menuButtons {
    padding: 10px;
    width: 578px;
    height: 150px;
    background: #dbe4e7;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #6e6e6e;
}

div.menu1 {
    padding: 4px;
    width: 496px;
    height: 22px;
    background: #9bc0cf;
}

div.menu2 {
    padding: 10px;
    width: 578px;
    height: 25px;
    background: #dbe4e7;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #6e6e6e;
}

div.menu3 {
    overflow: hidden;
    padding: 10px;
    width: 578px;
    height: 373px;
    background: #dbe4e7;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #6e6e6e;
}

div.menu4 {
    padding: 5px;
    width: 588px;
    height: 60px;
    background: #dbe4e7;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #6e6e6e;
}

div.menuInfo {
    overflow: hidden;
    padding: 10px;
    width: 578px;
    height: 498px;
    background: #dbe4e7;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #6e6e6e;
}

.infoTable {
    overflow: auto;
    width: 578px;
    height: 488px;
}

.infoSaves {
    overflow: auto;
    width: 578px;
    height: 400px;
}

#iNodes {
    overflow: auto;
    width: 578px;
    height: 280px;
}

div.hr {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 3px;
    background-color: #9bc0cf;
}

.myElement {
    padding: 2px;
}

.iComm, .iNum, .iVar, .iFunc, .iRes {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.iSelect {
    cursor: pointer;
}

.iNum {
    color: black;
    background: #c4c4c4;
    border: solid 1px #c4c4c4;
    width: 20px;
    height: 20px;
    cursor: default;
}

.iVar {
    color: black;
    background: white;
    border: solid 1px #8f8f8f;
    width: 40px;
    height: 20px;
}

.iFunc {
    color: black;
    background: white;
    border: solid 1px #3399ff;
    width: 270px;
    height: 20px;
}

.iRes {
    color: black;
    background: white;
    border: solid 1px #ff575b;
    width: 100px;
    height: 20px;
}

.iComm {
    color: black;
    background: #dfeaee;
    border: solid 1px #8f8f8f;
    width: 422px;
    height: 20px;
}

/*<<< Кнопки */
.iCommB, .iSaveName, input.iBs, input.bConst, input.bFunc, input.bSquare, input.iButton, input.iDel, input.iAdd, input.iCalc, input.iClear, input.iReset, input.iPrint, input.iSave, input.iUpload, input.iFile {
    cursor: pointer;
    padding: 1px 1px 1px 1px;
    border: solid 1px #888888;
    background-color: #cbe5e7;
    background-position: center center;
    background-repeat: no-repeat;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    font-size: 13px;
}

input.bFunc {
    width: 40px;
    height: 25px;
}

input.bSquare {
    width: 30px;
    height: 25px;
}

input.bConst {
    width: 60px;
    height: 25px;
}

input.iButton {
    height: 22px;
}

input.iCalc {
    width: 172px;
    height: 24px;
    background-color: #9bc0cf;
}

input.iDel {
    width: 40px;
    height: 24px;
    background-color: #efacac;
}

input.iAdd {
    width: 64px;
    height: 24px;
    background-color: #6dd2bb;
}

input.iBs {
    width: 64px;
    height: 24px;
    background-color: #efacac;
}

input.iClear {
    width: 64px;
    height: 24px;
    background-color: #efacac;
}

input.iReset {
    width: 24px;
    height: 24px;
    background-image: url(../img/iReset.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

input.iCommB {
    width: 24px;
    height: 24px;
}

.iCommB:hover, .iSaveName:hover, input.iBs:hover, input.bConst:hover, input.bFunc:hover, input.bSquare:hover, input.iButton:hover, input.iDel:hover, input.iAdd:hover, input.iCalc:hover, input.iClear:hover, input.iReset:hover, input.iPrint:hover, input.iSave:hover, input.iUpload:hover, input.iFile:hover {
    border: solid 1px #ff6d1e;
}

/*>>> Кнопки */
a.main, a.main_now {
    cursor: pointer;
    position: relative;
    margin: 0px 5px 0px 5px;
    padding: 1px 5px 1px 5px;
    font-size: 16px;
    text-decoration: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

a.main {
    color: #666666;
    border: 2px solid #666666;
}

a.main:hover {
    color: #333333;
    border: 2px solid #333333;
}

a.main_now {
    color: #333333;
    border: 2px solid #333333;
}

a.main_now:hover {
    color: #333333;
    border: 2px solid #333333;
}

a.std {
    cursor: pointer;
    color: #202020;
    text-decoration: underline;
}

a.std:hover {
    color: black;
    text-decoration: none;
}

.iSaveName {
    font-size: 12px;
    width: 200px;
    height: 24px;
}

.iSaveDate {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: black;
    background: #dbe4e7;
    border: solid 1px #c4c4c4;
    font-size: 14px;
    width: 90px;
    height: 20px;
    cursor: default;
}

.iYesNo {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: black;
    background: #c4c4c4;
    border: solid 1px #c4c4c4;
    font-size: 14px;
    width: 400px;
    height: 20px;
    cursor: default;
}

.iPrintName {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: black;
    background: white;
    border: solid 1px #8f8f8f;
    width: 250px;
    height: 20px;
}

div.consts {
    overflow: auto;
    width: 85px;
    height: 145px;
}